<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org">
	
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />
		<title>Previsoes</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Previsoes</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Dia da semana</th>
							<th>Temperatura mínima</th>
							<th>Temperatura máxima</th>
							<th>Humidade relativa do ar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="previsao : ${previsoes}">
							<td th:text="${previsao.diaSemana.diaSemana}"></td>
							<td th:text="${previsao.temperaturaMinima}+'°C'"></td>
							<td th:text="${previsao.temperaturaMaxima}+'°C'"></td>
							<td th:text="${previsao.humidade}+'%'"></td>
							<td th:text="${previsao.descricao}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	
</html>