<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Previsao do Tempo</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"	rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Login</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="post" th:object="${usuario}" th:action="@{/fazerLogin}" style="margin: 20px 0">
					<div class="form-group">
						<input required type="text" class="formcontrol" placeholder="Usuário" th:field="*{login}" />
						<input required	type="password" class="formcontrol" placeholder="Senha" th:field="*{senha}" />
						<button type="submit" class="btn btnprimary">Login</button>
					</div>
				</form>
			</div>
		</div>
	</body>
	
</html>